<div class="profile-container">
  <form [formGroup]="profileForm">
    <div class="form-group">
      <div class="display-flex-space-between">
        <label for="languages">Idiomas:</label>
      </div>

      <div formArrayName="languages">
        <div *ngFor="let language of languagesArray.controls; let i = index" [formGroupName]="i" class="language-group">
          <div class="form-row display-flex-center">
            <!-- Idioma -->
            <div class="form-group third-width">
              <label [for]="'language-name-' + i">Idioma:</label>
              <p>{{ language.value.name || "No especificado" }}</p>
            </div>

            <!-- Nivel -->
            <div class="form-group third-width">
              <label [for]="'language-proficiency-' + i">Nivel:</label>
              <p>{{ language.value.proficiency || "No especificado" }}</p>
            </div>

            <!-- Certificación -->
            <div class="form-group third-width">
              <label [for]="'language-certification-' + i">Certificación:</label>
              <p>{{ language.value.certification || "No especificado" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>