<div class="register-container">
  <h2>Regístrate</h2>
  <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>

    <!-- Tipo de Usuario -->
    <div class="form-group">
      <label for="userType">Tipo de usuario</label>
      <select id="userType" class="form-control" formControlName="userType" [ngClass]="{
        'is-invalid': registerForm.get('userType')?.invalid &&
                    (registerForm.get('userType')?.touched ||
                     registerForm.get('userType')?.dirty)
      }">
        <option value="" disabled selected>Selecciona un tipo de usuario</option>
        <option *ngFor="let type of userTypes" [value]="type.value" [selected]="type.value === 'candidate'">
          {{type.label}}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="registerForm.get('userType')?.errors?.['required']">
        Por favor selecciona un tipo de usuario.
      </div>
    </div>

    <!-- País -->
    <div class="form-group">
      <label for="country">País</label>
      <select id="country" class="form-control" formControlName="country" [ngClass]="{
      'is-invalid':
        registerForm.get('country')?.invalid &&
        (registerForm.get('country')?.touched ||
        registerForm.get('country')?.dirty)
    }">
        <option value="" disabled selected>Selecciona tu país</option>
        <option *ngFor="let country of countries" [value]="country.code">
          {{ country.name }}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="registerForm.get('country')?.errors?.['required']">
        Por favor selecciona tu país de residencia.
      </div>
    </div>

    <!-- Nombre Completo -->
    <div class="form-group">
      <label for="fullName">Nombre Completo</label>
      <div class="input-with-icon">
        <i class="fas fa-user icon"></i>
        <input type="text" id="fullName" class="form-control" formControlName="fullName" [ngClass]="{
            'is-invalid':
              registerForm.get('fullName')?.invalid &&
              (registerForm.get('fullName')?.touched ||
                registerForm.get('fullName')?.dirty)
          }" />
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('fullName')?.errors?.['required']">
        El nombre completo es obligatorio.
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-with-icon">
        <i class="fas fa-envelope icon"></i>
        <input type="email" id="email" class="form-control" formControlName="email" [ngClass]="{
            'is-invalid':
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty)
          }" />
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('email')?.errors?.['required']">
        El correo es obligatorio.
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('email')?.errors?.['email']">
        Introduce un correo válido.
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <label for="password">Contraseña</label>
      <div class="input-with-icon password-field">
        <i class="fas fa-lock icon"></i>
        <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="password"
          [ngClass]="{
            'is-invalid':
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.touched ||
                registerForm.get('password')?.dirty)
          }" />
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i class="fas" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
        </span>
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password')?.errors?.['required']">
        La contraseña es obligatoria.
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password')?.errors?.['minlength']">
        La contraseña debe tener al menos 8 caracteres.
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <div class="input-with-icon password-field">
        <i class="fas fa-lock icon"></i>
        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" class="form-control"
          formControlName="confirmPassword" [ngClass]="{
            'is-invalid':
              registerForm.get('confirmPassword')?.invalid &&
              (registerForm.get('confirmPassword')?.touched ||
                registerForm.get('confirmPassword')?.dirty)
          }" />
        <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
          <i class="fas" [ngClass]="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}"></i>
        </span>
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
        Confirma tu contraseña.
      </div>
    </div>

    <!-- Campo oculto para referido -->
    <input type="hidden" formControlName="referredBy" />
    <div *ngIf="referredBy" class="referred-by-banner">
      <i class="bi bi-people-fill"></i>
      <span>Estás siendo referido por un usuario de nuestra comunidad</span>
    </div>

    <ng-container *ngIf="toastService.getToasts() | async as toasts">
      <div *ngFor="let toast of toasts" class="toast toast-{{ toast.type }}">
        {{ toast.message }}
      </div>
    </ng-container>

    <!-- Botones -->
    <button type="submit" class="btn btn-primary register-btn" [disabled]="registerForm.invalid">
      Registrarse
    </button>
    <div class="haveAccount">
      <section class="btn btn-link">
        <Label>¡Ya tengo una cuenta!</Label>
        <a (click)="onLoginClick()">Regresar</a>
      </section>
    </div>
  </form>
</div>