<div class="job-offer-card card-border" (mouseleave)="onMouseLeave()" [class.new-offer]="jobOffer.isNew">
  <div class="job-offer-header">

    <!-- Menú de Opciones -->
    <div class="menu-container">
      <!-- Botón de Menú -->
      <button class="menu-button" (click)="toggleMenu($event)">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <!-- Contenido del Menú -->
      <div class="popover" [class.show]="isMenuOpen">
        <!-- Boton de Información -->
        <button class="popover-item info" (click)="openInfoModal()">
          <i class="bi bi-info-circle" style="color: var(--clr-blue);"></i> Información
        </button>
        <div class="popover-divider"></div>

        <!-- Boton de Duplicar -->
        <button class="popover-item" (click)="onDuplicate()">
          <i class="bi bi-files"></i> Duplicar
        </button>

        <!-- Boton de Editar -->
        <button class="popover-item" (click)="onEdit()"
          [disabled]="jobOffer.status === 'publicado' || jobOffer.status === 'vencido' || jobOffer.status === 'cancelado'">
          <i class="fas fa-pencil-alt"
            [class.text-muted]="jobOffer.status === 'publicado' || jobOffer.status === 'vencido'"></i> Editar
        </button>

        <!-- Boton de Eliminar -->
        <button class="popover-item danger" (click)="onDelete()"
          [disabled]="jobOffer.status === 'publicado' || jobOffer.status === 'vencido' || jobOffer.status === 'cancelado'">
          <i class="bi bi-trash" style="color: var(--clr-red);"
            [class.text-muted]="jobOffer.status === 'publicado' || jobOffer.status === 'vencido'"></i> Eliminar
        </button>

        <!-- Boton de Publicar -->
        <button class="popover-item" (click)="onPublish()"
          [disabled]="jobOffer.status === 'publicado' || jobOffer.status === 'vencido' || jobOffer.status === 'cancelado'"
          [class.text-success]="jobOffer.status === 'publicado'"
          [class.text-muted]="jobOffer.status === 'publicado' || jobOffer.status === 'vencido' || jobOffer.status === 'cancelado'">
          <i class="bi" [ngClass]="{
            'bi-send-check': jobOffer.status !== 'publicado',
            'bi-check-circle': jobOffer.status === 'publicado',
            'text-success': jobOffer.status === 'publicado',
            'text-muted': jobOffer.status === 'publicado' || jobOffer.status === 'vencido' || jobOffer.status === 'cancelado'
          }"></i>
          {{ jobOffer.status === 'publicado' ? 'Publicado' : 'Publicar' }}
        </button>
        <!-- Boton de Cancelar Publicación -->
        <button class="popover-item text-warning" (click)="onCancelPublish()"
          [disabled]="jobOffer.status !== 'publicado'" [class.text-muted]="jobOffer.status !== 'publicado'">
          <i class="bi bi-x-circle" [ngClass]="{'text-muted': jobOffer.status !== 'publicado'}"></i>
          Cancelar Publicación
        </button>
      </div>
    </div>

    <!-- Título y Estado del Puesto -->
    <h3 class="job-title">{{ jobOffer.title }}</h3>

    <div class="job-meta">
      <div class="job-title-row">
        <span class="job-company">
          <i class="fas fa-building"></i> {{ jobOffer.companyName }}
        </span>
        <span class="job-id">
          <i class="bi bi-hash"></i> {{ jobOffer.id }}
        </span>
      </div>
      <div class="job-location">
        <i class="fas fa-map-marker-alt"></i> {{ jobOffer.location }}
      </div>
      <div class="job-title-row">
        <span class="job-date" *ngIf="jobOffer.publicationDate">
          <i class="bi bi-calendar-event"></i> Publicada: {{ formatDate(jobOffer.publicationDate) }}
        </span>
        <!-- Badge de Estado -->
        <span class="status-badge" [ngClass]="'status-' + jobOffer.status">
          {{ jobOffer.status | titlecase }}
        </span>
      </div>
      <div class="job-location">
        <i class="fas fa-calendar-alt"></i><span>Vence: {{ jobOffer.deadline }}</span>
      </div>
    </div>

  </div>

  <div class="job-offer-body">
    <div class="card-content-wrapper">
      <div class="main-content">
        <!-- Descripción del Puesto -->
        <div class="job-description">
          <h4>Descripción del Puesto:</h4>
          <p>
            {{ showFullDescription ? getFullText(jobOffer.description) : getPreviewText(jobOffer.description) }}
            <button *ngIf="isTextLong(jobOffer.description)" (click)="toggleShowMore('description', $event)"
              class="btn-text-link">
              {{ showFullDescription ? 'ver menos' : 'ver más' }}
            </button>
          </p>
        </div>

        <!-- Requisitos -->
        <div class="job-requirements" *ngIf="jobOffer.requirements">
          <h4>Requisitos:</h4>
          <p>
            {{ showFullRequirements ? getFullText(jobOffer.requirements) : getPreviewText(jobOffer.requirements) }}
            <button *ngIf="isTextLong(jobOffer.requirements)" (click)="toggleShowMore('requirements', $event)"
              class="btn-text-link">
              {{ showFullRequirements ? 'ver menos' : 'ver más' }}
            </button>
          </p>
        </div>
      </div>

      <!-- Iconos de visualización -->
      <div class="card-icons">
        <!-- Icono de compartir -->
        <i class="fas fa-share-alt" title="Compartir"></i>
      </div>
    </div>

    <!-- Detalles del Puesto -->
    <div class="job-details">
      <!-- Fila 1 -->
      <div class="job-details-row">
        <div class="detail">
          <span class="job-modality">
            <i class="fas fa-laptop-house"></i> {{ getModalityLabel(jobOffer.modality) }}
          </span>
        </div>
        <div class="detail">
          <i class="fas fa-file-contract"></i>
          <span>{{ getContractTypeLabel(jobOffer.contractType) }}</span>
        </div>
      </div>
      <!-- Fila 2 -->
      <div class="job-details-row">
        <div class="detail">
          <i class="fas fa-clock"></i>
          <span>{{ getWorkdayLabel(jobOffer.workday) }}</span>
        </div>
        <div class="detail">
          <i class="fas fa-money-bill-wave"></i>
          <span>{{ (jobOffer.salary) }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="job-offer-footer">
    <div class="time-remaining" [class.time-critical]="isTimeCritical">
      <i class="bi bi-hourglass-split"></i><span>{{ timeRemaining }}</span>
    </div>
    <div class="footer-actions">
      <div class="likes-count">
        <i class="fas fa-heart"></i>
        <span class="like-count" *ngIf="likesCount > 0">{{ likesCount }}</span>
        <label>Me gusta</label>
      </div>
      <div class="bookmarks-count">
        <i class="fas fa-bookmark"></i>
        <span class="bookmark-count" *ngIf="bookmarksCount > 0">{{ bookmarksCount }}</span>
        <label>Guardados</label>
      </div>
    </div>
    <button class="apply-button">
      <i class="fas fa-file-alt"></i>
      <span class="applications-count" *ngIf="applicationsCount > 0">({{ applicationsCount }})</span>
      <label>Ver postulados</label>
    </button>
  </div>
</div>

<!-- Componente de Modal de Información -->
<app-job-offer-info-modal *ngIf="showInfoModal" (closeModal)="onInfoModalClose()"></app-job-offer-info-modal>