/* Estilos para la tarjeta de oferta de trabajo */
/* Estilo base de la tarjeta */
.job-offer-card {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
  max-width: 500px;
  position: relative;
  color: var(--text-color-light);
}

/* =================================== */
/* Clase para la animación de entrada */
/* ================================= */
.job-offer-card.new-offer {
  position: relative;
  z-index: 1;
  animation: slideInRight 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}