<div class="top-row">
  <app-cv-info-bar
    (canvasClicked)="onCanvasClicked()"
    (atsClicked)="onAtsClicked()">
  </app-cv-info-bar>
  <app-cv-edit-button (optionSelected)="onOptionSelected($event)" (backToPrincipal)="handleBackToPrincipal()">
  </app-cv-edit-button>
</div>

<ng-container *ngIf="showPrincipalSection">
  <section #principal>
    <app-curriculum-types-info *ngIf="showCurriculumInfo"></app-curriculum-types-info>
    <app-cv-canvas *ngIf="showCanvas"></app-cv-canvas>
    <app-cv-ats *ngIf="showAts" [currentUser]="currentUser"></app-cv-ats>
  </section>
</ng-container>

<section class="gallery-grid" *ngIf="showGalleryGrid">
  <app-edit-profile-picture *ngIf="shouldShowComponent('foto-perfil')"
    [currentUser]="currentUser"></app-edit-profile-picture>

  <app-edit-personal-data *ngIf="shouldShowComponent('datos-personales')"
    [currentUser]="currentUser"></app-edit-personal-data>

  <app-edit-about-me *ngIf="shouldShowComponent('sobre-mi')" [currentUser]="currentUser"></app-edit-about-me>

  <app-edit-education *ngIf="shouldShowComponent('educacion')" [currentUser]="currentUser"></app-edit-education>

  <app-edit-experience *ngIf="shouldShowComponent('experiencias')" [currentUser]="currentUser"></app-edit-experience>

  <app-edit-languages *ngIf="shouldShowComponent('idiomas')" [currentUser]="currentUser"></app-edit-languages>

  <app-edit-skills *ngIf="shouldShowComponent('habilidades')" [currentUser]="currentUser"></app-edit-skills>
</section>