/* business-forgot-password.component.css */
.forgot-password-container {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background: var(--clr-white);
  transition: all 0.3s ease-in-out;
  animation: slideInUp 3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(200%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.invalid-feedback {
  color: var(--clr-red);
  font-size: 0.875em;
}

.btn-primary {
  width: 100%;
  background-color: var(--clr-green);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
}

.btn-primary:active {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-green);
}

.btn-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: var(--clr-green);
  cursor: pointer;
  background: none !important;
  border: none;
  padding: 0;
}

.btn-link:hover {
  text-decoration: underline;
}