<body>
    <!-- Header -->
    <app-header (startNow)="onHeaderStartNow()"></app-header>

    <!-- Hero Section -->
    <app-hero-section (startNow)="onHeaderStartNow()"></app-hero-section>>

    <!-- Features Section -->
    <app-features-section></app-features-section>

    <!-- How It Works Section -->
    <app-how-it-works></app-how-it-works>

    <!-- Testimonials Section -->
    <app-testimonials-section></app-testimonials-section>

    <!-- CTA Section -->
    <app-call-to-action></app-call-to-action>

    <!-- Comparison Section -->
    <app-comparison-section></app-comparison-section>

    <!-- Footer Section -->
    <app-footer-section></app-footer-section>
</body>