<main (contextmenu)="(false)">
  <div class="profile-header" *ngIf="!readOnly">
    <app-sidebar
      [activeSection]="activeSection"
      (profileClicked)="showProfile()"
      (subscriptionClicked)="toggleSubscription()"
      (referClicked)="toggleRefer()"
    ></app-sidebar>
  </div>

  <section
    id="candidate"
    *ngIf="activeSection === 'profile'"
    (contextmenu)="(false)"
  >
    <div class="profile-container">
      <div class="profile-components-row">
        <app-profile-picture
          *ngIf="currentUser"
          [currentUser]="currentUser"
        ></app-profile-picture>
        <app-personal-data
          *ngIf="currentUser"
          [currentUser]="currentUser"
        ></app-personal-data>
      </div>
      <app-gallery
        *ngIf="currentUser"
        [currentUser]="currentUser"
        [readOnly]="readOnly"
        [isOwner]="!readOnly"
      ></app-gallery>
    </div>
  </section>

  <section id="subscription" *ngIf="activeSection === 'subscription'">
    <app-subscription></app-subscription>
  </section>

  <section id="refer" *ngIf="activeSection === 'refer'">
    <app-refer></app-refer>
  </section>
</main>
