<!-- business.component.html -->
<div class="main-container">
  <app-business-sidebar 
    class="profile-header"
    [activeSection]="activeSection"
    (homeClicked)="showHome()"
    (subscriptionClicked)="toggleSubscription()"
  ></app-business-sidebar>

  <app-business-dashboard *ngIf="activeSection === 'home' && userRole === 'business'"></app-business-dashboard>

  <section id="subscription" *ngIf="activeSection === 'subscription'">
    <app-business-subscription></app-business-subscription>
  </section>
</div>