<!-- business.component.html -->
<div class="main-container">
  <app-business-sidebar 
    class="profile-header"
    [activeSection]="activeSection"
    (homeClicked)="showHome()"
    (publicationsClicked)="showPublications()"
    (subscriptionClicked)="toggleSubscription()"
  ></app-business-sidebar>

  @if (activeSection === 'home' && userRole === 'business') {
    <app-business-dashboard></app-business-dashboard>
  } @else if (activeSection === 'publications') {
    <section id="publications">
      <app-business-publication></app-business-publication>
    </section>
  } @else if (activeSection === 'subscription') {
    <section id="subscription">
      <app-business-subscription></app-business-subscription>
    </section>
  }
</div>