body {
  margin: 0;
  padding: 0;
}

/* Grupos de formulario */
.form-group {
  text-align: left;
}

.section-group {
  position: relative;
  padding: 15px 15px 0;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 15px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section-group:hover .delete-button,
.section-group:focus-within .delete-button {
  opacity: 1;
}

/* Agregar también la clase line si no está definida */
.line {
  border-bottom: 1px solid #ccc;
  margin: 0 !important;
}

.section-group:last-child .line {
  display: none;
}

label {
  display: block;
  margin: 0.5em 0 0 1em;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Mensajes de error */
.text-danger {
  color: #e74c3c;
  font-size: 0.875em;
}

/* Grupo de inputs con botones */
.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1; /* Permite que el input ocupe todo el espacio disponible */
}

/* Filas y columnas en la sección de experiencia */
.form-row {
  display: flex; /* Coloca los elementos en una fila horizontal */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between;
  gap: 8px;
}

.quarter-width {
  flex: 1; /* Ocupa 1 parte del espacio disponible */
}

.three-quarters-width {
  flex: 3; /* Ocupa 3 partes del espacio disponible */
}