.profile-container {
  width: 100%;
  max-width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  padding-left: 10px;
  position: relative;
  margin: 0 auto;
}

.profile-container .profile-picture-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}