.upload-progress {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: 1px dashed var(--clr-primary);
    background: var(--clr-white);
    transform: translateY(-50%);
    z-index: 3;
}

.progress-bar {
    height: 20px;
    background-color: var(--clr-primary);
    border-radius: 10px;
    color: var(--clr-white);
    font-size: 0.8rem;
    transition: width 0.3s ease;
    margin-bottom: 8px;
}

.progress-size {
    font-size: 0.8rem;
    color: #666;
}