<div class="profile-container">
    <div class="form-group" [formGroup]="profileForm">
      <label>Experiencia Laboral:</label>
      <ng-container *ngIf="profileForm.get('experience')?.value?.length > 0;
          else noExperience">
        <ul class="experience-list">
          <li *ngFor="let exp of profileForm.get('experience')?.value">
                <label for="">Año:</label>
                <p>{{ exp.year || "No especificado" }}</p>
                <label for="">Empresa:</label>
                <p>{{ exp.company || "No especificado" }}</p>
              <label for="">Rol:</label>
              <p>{{ exp.role || "No especificado" }}</p>
              <label for="">Descripción:</label>
              <p>{{ exp.description || "No especificado" }}</p>
          </li>
        </ul>
      </ng-container>
      <ng-template #noExperience>
        <p class="form-control-static">No especificado</p>
      </ng-template>
    </div>
</div>
