<div class="pagination-container" *ngIf="totalPages > 1">
  <button 
    class="pagination-button"
    [disabled]="currentPage === 1"
    (click)="goToFirstPage()"
    title="Primera página"
  >
    &laquo;&laquo;
  </button>

  <button 
    class="pagination-button"
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)"
    title="Página anterior"
  >
    &laquo;
  </button>

  <button 
    *ngFor="let page of pages"
    class="pagination-button"
    [class.active]="page === currentPage"
    (click)="changePage(page)"
    [title]="'Página ' + page"
  >
    {{ page }}
  </button>

  <button 
    class="pagination-button"
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)"
    title="Página siguiente"
  >
    &raquo;
  </button>

  <button 
    class="pagination-button"
    [disabled]="currentPage === totalPages"
    (click)="goToLastPage()"
    title="Última página"
  >
    &raquo;&raquo;
  </button>
</div>