<section class="hero text-center">
  <div class="container">
    <h1 class="display-4">
      <span class="gradient-text">{{title}}</span><br />
      <span class="typewriter">{{subTitle}}</span>
    </h1>
    <p class="lead">
      <span class="leadUp">{{leadUp}}</span><br />
      <span class="leadDown">{{leadDown}}</span>
    </p>
    <!-- <a href="#cta" class="btn btn-primary btn-lg">Descubre cómo</a> -->
  </div>
</section>

<main class="main-hero">
  <div class="container">
    <h2>{{h2}}</h2>
    <span>{{p1}}</span><br>
    <span>{{p2}}</span>
    <div class="hero-btns">
      <a class="btn btn-secondary" (click)="showExamplesModal()">Ver ejemplos</a>
    </div>
  </div>
</main>
<app-candidate-examples-modal [isVisible]="isModalVisible" (closeModal)="onCloseModal()">
</app-candidate-examples-modal>