<div class="register-container">
  <h2>Regístrate</h2>
  <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
    <!-- Nombre Completo -->
    <div class="form-group">
      <label for="fullName">Nombre Completo</label>
      <input
        type="text"
        id="fullName"
        class="form-control"
        formControlName="fullName"
        [ngClass]="{
          'is-invalid':
            registerForm.get('fullName')?.invalid &&
            (registerForm.get('fullName')?.touched ||
              registerForm.get('fullName')?.dirty)
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="registerForm.get('fullName')?.errors?.['required']"
      >
        El nombre completo es obligatorio.
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            registerForm.get('email')?.invalid &&
            (registerForm.get('email')?.touched ||
              registerForm.get('email')?.dirty)
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="registerForm.get('email')?.errors?.['required']"
      >
        El correo es obligatorio.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="registerForm.get('email')?.errors?.['email']"
      >
        Introduce un correo válido.
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <label for="password">Contraseña</label>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.touched ||
                registerForm.get('password')?.dirty)
          }"
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="togglePasswordVisibility()"
        >
          {{ showPassword ? "Ocultar" : "Mostrar" }}
        </button>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="registerForm.get('password')?.errors?.['required']"
      >
        La contraseña es obligatoria.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="registerForm.get('password')?.errors?.['minlength']"
      >
        La contraseña debe tener al menos 8 caracteres.
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <div class="input-group">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
          [ngClass]="{
            'is-invalid':
              registerForm.get('confirmPassword')?.invalid &&
              (registerForm.get('confirmPassword')?.touched ||
                registerForm.get('confirmPassword')?.dirty)
          }"
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="toggleConfirmPasswordVisibility()"
        >
          {{ showConfirmPassword ? "Ocultar" : "Mostrar" }}
        </button>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
      >
        Confirma tu contraseña.
      </div>
    </div>

    <!-- Campo oculto para referido -->
    <input type="hidden" formControlName="referredBy">

    <ng-container *ngIf="toastService.getToasts() | async as toasts">
      <div *ngFor="let toast of toasts" class="toast toast-{{toast.type}}">
        {{ toast.message }}
      </div>
    </ng-container>

    <!-- Botones -->
    <button
      type="submit"
      class="btn btn-primary register-btn"
      [disabled]="registerForm.invalid"
    >
      Registrarse
    </button>
    <div class="haveAccount">
      <section class="btn btn-link">
        <Label>¡Ya tengo una cuenta!</Label>
        <a (click)="onLoginClick()">Regresar</a>
      </section>
    </div>
  </form>
</div>