<!-- sidebar.component.html -->
<!-- Icono para abrir el menú -->
<span class="sidebar-icon" (click)="toggleMenu()">☰</span>

<!-- Menú lateral -->
<div class="sidebar-menu" [class.open]="isMenuOpen" (click)="preventClose($event)">
  <!-- Ícono de cierre -->
  <div class="sidebar-header">
    <h2 class="sidebar-title">menu</h2>
    <span class="close-icon" (click)="toggleMenu()">&times;</span>
  </div>

  <!-- Navegación principal -->
  <nav>
    <!-- Secciones del menú -->
    <ul class="main-menu">

      <!-- Sección de Perfil -->
      <li [class.active]="activeSection === sectionType.profile"
        [class.disabled]="activeSection === sectionType.profile">
        <a (click)="activeSection !== sectionType.profile ? onProfileClick() : null">
          <i class="fas fa-user" style="color: var(--clr-blue)"></i>
          <span>Perfil</span>
        </a>
      </li>

      <!-- Sección de Suscripción -->
      <li [class.active]="activeSection === sectionType.subscription"
        [class.disabled]="activeSection === sectionType.subscription">
        <a (click)="activeSection !== sectionType.subscription ? onSubscriptionClick() : null">
          <i class="fas fa-credit-card" style="color: var(--clr-purple)"></i>
          <span>Suscripciones</span>
        </a>
      </li>


      <!-- Sección de Referidos -->
      <li [class.active]="activeSection === sectionType.refer" [class.disabled]="activeSection === sectionType.refer">
        <a (click)="activeSection !== sectionType.refer ? onReferClick() : null">
          <i class="fas fa-share-alt" style="color: var(--clr-red)"></i>
          <span>Referir</span>
        </a>
      </li>

      <!-- Sección de Desarrollo Profesional -->
      <li [class.active]="activeSection === sectionType.professionalDevelopment"
        [class.disabled]="activeSection === sectionType.professionalDevelopment">
        <a (click)="activeSection !== sectionType.professionalDevelopment ? onProfessionalDevelopmentClick() : null">
          <i class="fas fa-graduation-cap" style="color: var(--clr-orange)"></i>
          <span>Desarrollo Profesional</span>
        </a>
      </li>

      <!-- Sección de Anuncios -->
      <li [class.active]="activeSection === sectionType.announcements"
        [class.disabled]="activeSection === sectionType.announcements">
        <a (click)="activeSection !== sectionType.announcements ? onAnnouncementsClick() : null">
          <i class="fas fa-bullhorn" style="color: var(--clr-yellow)"></i>
          <span>Ver Anuncios</span>
        </a>
      </li>
    </ul>

    <!-- Menú de cierre de sesión -->
    <ul class="logout-menu">
      <li>
        <a href="#" (click)="logout()">
          <i class="fas fa-sign-out-alt" style="color: var(--clr-red)"></i>
          <span>Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- Capa para detectar clics fuera del menú -->
<div class="overlay" *ngIf="isMenuOpen" (click)="toggleMenu()"></div>