<div class="profile-container">
  <label class="bar">Habilidades:</label>
  <form [formGroup]="profileForm">
    <div class="form-group">
      <div *ngFor="let skill of profileForm.get('skills')?.value">
        <span>
          <strong>Habilidades Técnica:</strong>
          <label>{{ skill.hardSkills || "No especificado" }}</label>
        </span>
        <span>
          <strong>Habilidades Blandas:</strong>
          <label>{{ skill.softSkills || "No especificado" }}</label>
        </span>
        <span>
          <strong>Certificacion(es):</strong>
          <label>{{ skill.certification || "No especificado" }}</label>
        </span>
      </div>
    </div>
  </form>
</div>