/* Contenedor principal */
.profile-container {
  text-align: left;
}

/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  color: white;
  font-weight: 500;
  background-color: var(--clr-blue-dark);
}

.profile-container p {
  white-space: pre-wrap;
  padding: 10px;
}