<div class="profile-container">
  <form [formGroup]="profileForm">
    <div class="form-group">
      <label class="bar">Habilidades:</label>
        <ul class="skills-list">
          <li *ngFor="let skill of profileForm.get('skills')?.value">
            <div class="skill-item">
              <div class="skill-detail">
                <label>Habilidad:</label>
                <p class="form-control-static">{{ skill.name || "No especificado" }}</p>
              </div>
            </div>
            <div class="line"></div>
          </li>
        </ul>
    </div>
  </form>
</div>