.profile-header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.main-container {
    text-align: center;
}