<div class="profile-container">
  <form [formGroup]="profileForm">
    <div class="form-group"> <label>Habilidades:</label>
      <ng-container *ngIf="profileForm.get('skills')?.value?.length > 0; else noSkills">
        <ul class="skills-list">
          <li *ngFor="let skill of profileForm.get('skills')?.value">
            <div class="skill-item">
              <div class="skill-detail">
                <label>Habilidad:</label>
                <p class="form-control-static">{{ skill.name || "No especificado" }}</p>
              </div>
              <div class="skill-detail">
                <label>Nivel:</label>
                <p class="form-control-static">{{ skill.proficiency || "No especificado" }}</p>
              </div>
              <div class="skill-detail">
                <label>Certificación:</label>
                <p class="form-control-static">{{ skill.certification || "No especificado" }}</p>
              </div>
            </div>
            <div class="line"></div>
          </li>
        </ul>
      </ng-container>

      <ng-template #noSkills>
        <p class="form-control-static">No especificado</p>
      </ng-template>
    </div>
  </form>
</div>