<div class="profile-container">
  <label class="bar">Educación:</label>
  <form [formGroup]="profileForm">
    <div class="form-group">
      <div *ngFor="let edu of profileForm.get('education')?.value">

        <!-- Título -->
        <div *ngIf="edu.degree">
          <strong>{{ edu.degree || "No especificado" }}</strong>
        </div>

        <!-- Universidad - Lugar - Año -->
        <div>
          <span *ngIf="edu.institution" style="padding-left: 1rem;">
          <label>{{ edu.institution || "No especificado" }}</label></span>
          <label *ngIf="edu.place"><span style="padding: 0 1rem;">|</span>{{ edu.place || "No especificado" }}</label>
          <label *ngIf="edu.year"><span style="padding: 0 1rem;">|</span>{{ edu.year || "No especificado" }}</label>
        </div>

        <!-- Logros -->
        <div *ngIf="edu.achievements" class="description-text">
          <span>{{ formatDescription(edu.achievements) }}</span>
        </div>
      </div>
    </div>
  </form>
</div>