/* Contenedor principal */
.profile-container {
  max-width: 1200px;
  font-weight: 500;
  font-size: clamp(12px, 2.5vw, 16px);
  text-align: left;
  margin: 0 10px;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  margin: 5px 0 0;
  color: white;
  background-color: var(--clr-blue-dark);
  border-radius: 4px;
}

/* Estilo para habilidades con detalles */
.skills-list.detailed-view {
  padding: 0;
  margin: 0 1rem;
}

.skills-list.detailed-view .item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list.detailed-view .skill-detail {
  flex: 1;
}

.skills-list.detailed-view span {
  padding-right: 0.5rem;
  font-weight: 600;
}

.skills-list.compact-view li:first-child {
  list-style: none;
}

/* Estilo para habilidades sin detalles */
.skills-list.compact-view {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.skills-list.compact-view .item {
  display: inline-flex;
  margin: 0;
  padding: 8px 12px;
}

.skills-list.compact-view .skill-detail p {
  white-space: nowrap;
  margin: 0;
}

.no-skills {
  color: #666;
  font-style: italic;
}