<section class="edit-profile-container">
  <header class="display-flex-space-between">
    <h3>
      <i class="fas fa-user"></i>
      <span>Sobre mí (Perfíl)</span>
    </h3>
    <app-cv-edit-button-row
      [isEditing]="editableFields['aboutMe']"
      [hasChanges]="isFormDirty && profileForm.get('aboutMe')?.value !== originalData['aboutMe']"
      (onCancel)="onCancel()"
      (onEditSave)="toggleEdit('aboutMe')"
    >
    </app-cv-edit-button-row>
  </header>

  <body>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label
          >Describe quién eres<br />
          y tus objetivos profesionales:</label
        >
        <textarea
          *ngIf="editableFields['aboutMe']"
          formControlName="aboutMe"
          placeholder="Escribe aquí tu perfil profesional..."
        ></textarea>
        <div
          *ngIf="!editableFields['aboutMe']"
          class="non-editable-text"
          [innerText]="
            profileForm.get('aboutMe')?.value ||
            'Haz clic en Editar para agregar información sobre ti'
          "
        ></div>
      </div>
    </form>
  </body>
</section>

<app-about-me-info></app-about-me-info>