<div class="edit-profile-container" *ngIf="!showInfoComponent">
  <header>
    <h3>
      <i class="fas fa-star"></i>
      <span>Habilidades</span>
    </h3>
    <i class="fas fa-info-circle info-icon" title="Información" (click)="openInfoModal()"></i>
  </header>

  <body>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="display-flex-space-between">
          <label for="skills">Habilidades:</label>
          <app-cv-edit-button-row [isEditing]="editableFields['skills']" [hasChanges]="formHasChanges"
            (onCancel)="onCancel()" (onEditSave)="toggleEdit('skills')" (onAdd)="addSkill()">
          </app-cv-edit-button-row>
        </div>

        <div class="line"></div>

        <div formArrayName="skills">
          <div *ngFor="let skill of skillsArray.controls; let i = index" [formGroupName]="i" class="skill-group"
            (mouseenter)="showDeleteButton(i)" (mouseleave)="hideDeleteButton(i)" (click)="showDeleteButton(i)">

            <div class="form-row">
              <div class="form-group quarter-width">
                <label for="name">Habilidad:</label>
                <input type="text" id="name" formControlName="name" class="form-control"
                  [readonly]="!editableFields['skills']" />
              </div>
              <div class="form-group quarter-width">
                <label for="proficiency">Nivel:</label>
                <input type="text" id="proficiency" formControlName="proficiency" class="form-control"
                  [readonly]="!editableFields['skills']" />
              </div>
              <div class="form-group quarter-width">
                <label for="certification">Certificación:</label>
                <input type="text" id="certification" formControlName="certification" class="form-control"
                  [readonly]="!editableFields['skills']" />
              </div>
            </div>

            <app-delete-button-b *ngIf="activeDeleteButton === i"
              (deleteClick)="confirmDeleteSkill(i); $event.stopPropagation()" class="skill-delete-button">
            </app-delete-button-b>

            <div class="line"></div>
          </div>
        </div>
      </div>
    </form>
  </body>
</div>

<app-skills-info *ngIf="showInfoComponent" (back)="toggleInfoView()"></app-skills-info>