.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    background: var(--bg-yellow);
    border: 2px dashed var(--clr-yellow);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

i {
    font-size: 1rem;
    cursor: pointer;
    color: var(--clr-yellow);
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}