<div class="publication-container">
    <div class="publication-header">
        <div class="header-content">
            <h2>Publicaciones</h2>
            <p>Gestiona tus ofertas de empleo para encontrar a los mejores talentos. <br>
                Crea, Ajusta y Publica ¡Todo desde aquí!</p>
        </div>
        <app-create-publication-button (createClick)="togglePublicationModal(true)"></app-create-publication-button>
    </div>

    <!-- Filtros de publicaciones -->
    <app-publication-filters [statusCounts]="statusCounts" [allOffers]="jobOffers"
        (filteredOffers)="onFilteredOffers($event)">
    </app-publication-filters>

    <!-- Indicador de carga -->
    @if (isLoading) {
    <div class="loading-container">
        <div class="spinner"></div>
        <p>Cargando ofertas de trabajo...</p>
    </div>
    } @else if (hasPublications) {
    <!-- Lista de ofertas de trabajo -->
    <div class="job-offers-grid">
        @for (jobOffer of filteredJobOffers; track jobOffer.id) {
        <div [class.new-duplicated-card]="lastDuplicatedId === jobOffer.id">
            <app-job-offer-item [jobOffer]="jobOffer" [currentUser]="currentUser" [isOwner]="true"
                (deleted)="onJobOfferDeleted($event)" (edit)="togglePublicationModal(true, $event)"
                (duplicated)="onJobOfferDuplicated($event)">
            </app-job-offer-item>
        </div>
        }
    </div>
    } @else {
    <!-- Mensaje cuando no hay publicaciones -->
    <app-empty-publication-message></app-empty-publication-message>
    }
</div>

<!-- Modal para el formulario de publicación -->
<div class="modal-overlay" *ngIf="showPublicationModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{ isEditing ? 'Editar Publicación' : 'Crear Nueva Publicación' }}</h3>
            <button type="button" class="close-btn" (click)="togglePublicationModal(false)" aria-label="Cerrar">
                <span class="icon">&times;</span>Cerrar
            </button>
        </div>
        <div class="modal-body">
            <app-publication-form [jobOffer]="currentJobOffer" [isEditing]="isEditing"
                (formSubmitted)="onFormSubmitted()" (saved)="onPublicationSaved()">
            </app-publication-form>
        </div>
    </div>
</div>