.forgot-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  transition: all 0.3s ease-in-out;
  animation:
    slideInUp 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slideInUp {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
}

button {
  margin-right: 10px;
  background-color: var(--clr-green) !important;
  border: none;
  cursor: pointer !important;
}

.btn-link {
  text-decoration: none;
  color: var(--clr-green);
}