header {
  background: linear-gradient(135deg, var(--clr-blue-dark) 0%, var(--clr-purple-dark) 100%);
}

/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.language-group {
  position: relative;
  padding: 15px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.language-group:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.language-delete-button {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.language-group:hover .language-delete-button,
.language-group:focus-within .language-delete-button {
  opacity: 1;
}

app-delete-button-b {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5px;
}

/* Agregar también la clase line si no está definida */
.line {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

label {
  display: block;
  margin: 0.5em 0 0 1em;
  font-weight: 500;
}

/* Inputs, textareas y botones */
input,
textarea,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Mensajes de error */
.text-danger {
  color: #e74c3c;
  font-size: 0.875em;
}

/* Grupo de inputs con botones */
.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1; /* Permite que el input ocupe todo el espacio disponible */
}

/* Experiencia */
.display-flex-space-between {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  align-items: center; /* Asegura que estén alineados verticalmente */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Filas y columnas en la sección de experiencia */
.form-row {
  display: flex; /* Coloca los elementos en una fila horizontal */
  gap: 1em; /* Añade espacio entre las columnas */
  align-items: center; /* Alinea verticalmente los elementos */
}

.quarter-width {
  flex: 1; /* Ocupa 1 parte del espacio disponible */
}

.three-quarters-width {
  flex: 3; /* Ocupa 3 partes del espacio disponible */
}