<div class="edit-profile-container">
  <header>
    <h3>
      <i class="fas fa-language"></i>
      <span>Idiomas</span>
    </h3>
    <app-cv-edit-button-row [isEditing]="editableFields['languages']" [hasChanges]="formHasChanges"
      (onCancel)="onCancel()" (onEditSave)="toggleEdit('languages')" (onAdd)="addLanguage()">
    </app-cv-edit-button-row>
  </header>

  <body>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div formArrayName="languages">
          <div *ngFor="let language of languagesArray.controls; let i = index" [formGroupName]="i"
            class="section-group" (mouseenter)="showDeleteButton(i)" (mouseleave)="hideDeleteButton(i)"
            (click)="showDeleteButton(i)">
            <div class="form-row">
              <div class="form-group third-width">
                <label for="name">Idioma:</label>
                <input type="text" id="name" formControlName="name" class="form-control"
                  [readonly]="!editableFields['languages']" />
              </div>
              <div class="form-group third-width">
                <label for="proficiency">Nivel:</label>
                <input type="text" id="proficiency" formControlName="proficiency" class="form-control"
                  [readonly]="!editableFields['languages']" />
              </div>
              <div class="form-group third-width">
                <label for="certification">Certificación:</label>
                <input type="text" id="certification" formControlName="certification" class="form-control"
                  [readonly]="!editableFields['languages']" />
              </div>
            </div>

            <app-delete-button-b *ngIf="activeDeleteButton === i"
              (deleteClick)="confirmDeleteLanguage(i); $event.stopPropagation()" class="delete-button">
            </app-delete-button-b>

            <div class="line"></div>
          </div>
        </div>
      </div>
    </form>
  </body>
</div>


<app-languages-info></app-languages-info>