<div class="gallery-container">
    <app-icon-rows [activeView]="activeView" (iconSelected)="onIconSelected($event)">
    </app-icon-rows>

    <div class="content-container">
        @if (isExample) {
            <!-- Modo ejemplo con cambio de vistas -->
            @switch (activeView) {
                @case ('image') {
                    <app-image-grid 
                        [currentUser]="null" 
                        [readOnly]="!isEditor"
                        [isExample]="isExample"
                        [isEditor]="isEditor">
                    </app-image-grid>
                }
                @case ('video') {
                    <app-video-grid [currentUser]="null" [readOnly]="!isEditor"></app-video-grid>
                }
                @case ('cv') {
                    <app-cv-grid [currentUser]="null" 
                                [readOnly]="true"
                                [isOwner]="false">
                    </app-cv-grid>
                }
            }
        } @else {
            <!-- Modo normal -->
            @switch (activeView) {
                @case ('image') {
                    <app-image-grid 
                        *ngIf="currentUser" 
                        [currentUser]="currentUser" 
                        [readOnly]="readOnly"
                        [isEditor]="isEditor">
                    </app-image-grid>
                }
                @case ('video') {
                    <app-video-grid *ngIf="currentUser" [currentUser]="currentUser" [readOnly]="readOnly"></app-video-grid>
                }
                @case ('cv') {
                    <app-cv-grid *ngIf="currentUser" 
                                [currentUser]="currentUser" 
                                [readOnly]="readOnly"
                                [isOwner]="false">
                    </app-cv-grid>
                }
            }
        }
    </div>
</div>