<div class="job-offer-body">
  <div class="card-content-wrapper">
    <div class="main-content">
      <!-- Descripción del Puesto -->
      <div class="job-description">
        <h4>Descripción del Puesto:</h4>
        <p>
          {{ showFullDescription ? getFullText(jobOffer.description) : getPreviewText(jobOffer.description) }}
          <button *ngIf="isTextLong(jobOffer.description)" (click)="toggleShowMore('description', $event)"
            class="btn-text-link">
            <span>{{ showFullDescription ? 'ver menos' : 'ver más' }}</span>
          </button>
        </p>
      </div>

      <!-- Requisitos -->
      <div class="job-requirements" *ngIf="jobOffer.requirements">
        <h4>Requisitos:</h4>
        <p>
          {{ showFullRequirements ? getFullText(jobOffer.requirements) : getPreviewText(jobOffer.requirements) }}
          <button *ngIf="isTextLong(jobOffer.requirements)" (click)="toggleShowMore('requirements', $event)"
            class="btn-text-link">
            <span>{{ showFullRequirements ? 'ver menos' : 'ver más' }}</span>
          </button>
        </p>
      </div>
    </div>

    <!-- Iconos de visualización -->
    <div class="card-icons">
      <!-- Icono de compartir -->
      <i class="fas fa-share-alt" title="Compartir"></i>
    </div>
  </div>

  <!-- Detalles del Puesto -->
  <div class="job-details">
    <!-- Fila 1 -->
    <div class="job-details-row">
      <div class="detail">
        <i class="fas fa-laptop-house"></i>
        <span>{{ getModalityLabel(jobOffer.modality) }}</span>
      </div>
      <div class="detail">
        <i class="fas fa-file-contract"></i>
        <span>{{ getContractTypeLabel(jobOffer.contractType) }}</span>
      </div>
    </div>
    <!-- Fila 2 -->
    <div class="job-details-row">
      <div class="detail">
        <i class="fas fa-clock"></i>
        <span>{{ getWorkdayLabel(jobOffer.workday) }}</span>
      </div>
      <div class="detail">
        <i class="fas fa-money-bill-wave"></i>
        <span>{{ (jobOffer.salary) }}</span>
      </div>
    </div>
  </div>
</div>