<div class="profile-container">
  <div class="form-group" [formGroup]="profileForm">
    <label class="bar">Experiencia Profesional:</label>
    @if (experienceArray.length > 0) {
    <ul class="experience-list">
      @for (exp of experienceArray.controls; track $index) {
      <li>
        <div>
          <span>{{ exp.get("role")?.value }}</span
          ><br />
          <label style="padding-right: 0.5rem">Empresa:</label>
          <span>{{ exp.get("company")?.value }} </span>
          <label>{{ exp.get("place")?.value }}</label>
          ({{ exp.get("year")?.value }})<br />
          <div class="description-text">
            {{ exp.get("description")?.value }}
          </div>
        </div>
      </li>
      }
    </ul>
    } @else {
    <p class="no-experience">No se encontraron experiencias laborales</p>
    }
  </div>
</div>
