/* Contenedor principal */
.profile-container {
  max-width: 1200px;
  font-weight: 500;
  font-size: clamp(12px, 2.5vw, 16px);
  text-align: left;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  margin: 5px 10px 0;
  color: white;
  background-color: var(--clr-blue-dark);
  border-radius: 4px;
}

.item {
  margin-right: 1rem;
  padding: 0.5rem 0 0;
}

.top-body {
  display: flex;
  justify-content: space-between;

}

span {
  font-weight: 600;
}