/* Contenedor principal */
.profile-container {
  max-width: 1200px;
  margin: 10px 0;
  padding: 20px;
}

/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: 600;
}

.profile-container p {
  white-space: pre-wrap;
  padding: 0 10px;
  font-size: clamp(10px, 2.5vw, 16px);
  text-align: justify;
}