<div class="info-container" #infoContainer>
  <header class="info-header">
    <button class="back-button" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h3><i class="fas fa-camera"></i> <span>Foto de Perfil</span></h3>
  </header>

  <section id="main-section">
    <div class="info-card purple-dark">
      <div class="info-header">
        <i class="fas fa-camera"></i>
        <h4>¿Cómo debe ser la foto en tu currículum?</h4>
      </div>
      <ul class="info-list">
        <li>
          <span>
            <i class="fas fa-image"></i>
            <strong>Calidad:</strong>Foto nítida, bien iluminada y sin pixeles.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-user-circle"></i>
            <strong>Encuadre:</strong>Tipo carnet o medio cuerpo, con el rostro
            centrado.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-tshirt"></i>
            <strong>Vestimenta:</strong>Profesional y acorde a tu industria.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-smile"></i>
            <strong>Expresión:</strong>Natural, amable y segura. Sonrisa ligera
            recomendable.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-ban"></i>
            <strong>Evita:</strong>Selfies, fondos con distracciones, fotos de
            redes sociales o con filtros.
          </span>
        </li>
      </ul>
    </div>

    <div class="info-card blue-dark">
      <div class="info-header">
        <i class="fas fa-eye"></i>
        <h4>¿Qué observan los reclutadores?</h4>
      </div>
      <ul class="info-list">
        <li>
          <span>
            <i class="fas fa-check"></i>
            <strong>Primera impresión:</strong>Evalúan si la imagen transmite
            profesionalismo y seriedad.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-user-tie"></i>
            <strong>Coherencia:</strong>Debe estar alineada con el rol y el
            sector al que postulas.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-eye-slash"></i>
            <strong>Errores comunes:</strong>Fotos mal recortadas, informales o
            poco cuidadas causan rechazo.
          </span>
        </li>
      </ul>
    </div>
  </section>
</div>
