<div class="edit-profile-container" *ngIf="!showInfoComponent">
  <header>
    <h3>
      <i class="fas fa-briefcase"></i>
      <span>Experiencias</span>
    </h3>
    <i class="fas fa-info-circle info-icon" title="Información" (click)="openInfoModal()"></i>
  </header>

  <body>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- Experiencia -->
      <div class="form-group">
        <div class="display-flex-space-between">
          <label for="experience">Experiencia(s):</label>
          <div>
            <button type="button" class="edit-save-button" (click)="toggleEdit('experience')"
              [class.editing]="editableFields['experience']">
              <i class="fas" [ngClass]="
                  editableFields['experience'] ? 'fa-save' : 'fa-pencil-alt'
                " style="margin-right: 5px;"></i>
              {{ editableFields["experience"] ? "Guardar" : "Editar" }}
            </button>

            <button type="button" class="add-button" id="experience-btn" (click)="addExperience()">
              Agregar
            </button>
          </div>
        </div>

        <div class="line"></div>

        <div formArrayName="experience">
          <div *ngFor="let exp of experienceArray.controls; let i = index" [formGroupName]="i" class="experience-group">
            <!-- Rol o Cargo -->
            <div class="form-group">
              <div style="
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 5px;
                ">
                <label for="role">Rol:</label>
                <button type="button" class="btn delete-btn" style="width: fit-content"
                  (click)="confirmDeleteExperience(i)">
                  <i class="fas fa-trash"><span>Eliminar</span></i>
                </button>
              </div>
              <input type="text" id="role" formControlName="role" [readonly]="!editableFields['experience']"
                class="form-control" />
            </div>

            <div class="form-row">
              <!-- Empresa -->
              <div class="form-group three-quarters-width">
                <label for="company">Empresa:</label>
                <input type="text" id="company" formControlName="company" [readonly]="!editableFields['experience']"
                  class="form-control" />
              </div>
              <!-- Año -->
              <div class="form-group quarter-width">
                <label for="year">Año:</label>
                <input type="text" id="year" formControlName="year" [readonly]="!editableFields['experience']"
                  class="form-control" />
              </div>
            </div>

            <!-- Destalles o Descripción -->
            <label>Detalle(s):</label>
            <textarea formControlName="description" class="form-control"
              [readonly]="!editableFields['experience']"></textarea>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </form>
  </body>
</div>

<app-experience-info *ngIf="showInfoComponent" (back)="toggleInfoView()"></app-experience-info>