/* Contenedor principal - Estilo profesional ATS */
.profile-container {
  margin-top: 1rem;
}

.profile-container p {
  flex: 1;
  font-size: 28px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  margin: 0;
  color: white;
  font-weight: 500;
  background-color: var(--clr-blue-dark);
}