<div class="profile-container">
  <label class="bar">Habilidades:</label>

  <!-- Habilidades Técnicas -->
  <div class="skill-category" *ngIf="skills.hardSkills">
    <h6>Técnicas:</h6>
    <ul>
      <li *ngFor="let skill of getSkillList(skills.hardSkills)">{{ skill }}</li>
    </ul>
  </div>

  <!-- Habilidades Blandas -->
  <div class="skill-category" *ngIf="skills.softSkills">
    <h6>Blandas:</h6>
    <ul>
      <li *ngFor="let skill of getSkillList(skills.softSkills)">{{ skill }}</li>
    </ul>
  </div>

  <!-- Idiomas -->
  <div class="skill-category" *ngIf="skills.languages">
    <h6>Idiomas:</h6>
    <ul>
      <li *ngFor="let language of getSkillList(skills.languages)">{{ language }}</li>
    </ul>
  </div>

  <!-- Certificaciones -->
  <div class="skill-category" *ngIf="skills.certification">
    <h6>Certificaciones:</h6>
    <ul>
      <li *ngFor="let cert of getSkillList(skills.certification)">{{ cert }}</li>
    </ul>
  </div>
</div>