<div class="image-item" (contextmenu)="(false)" draggable="false" ondrop="return false;">
  <div class="image-item">
    <img
      [src]="imageUrl"
      alt="Gallery image"
      (load)="onImageLoad()"
      (error)="onImageError()"
    />

    <app-watermark *ngIf="!isOwner"></app-watermark>

    <app-image-delete-button
      *ngIf="(isOwner && !isExample) || (isOwner && isEditor && isExample)"
      [imageUrl]="imageUrl"
      [currentUser]="currentUser"
      [userEmailKey]="userEmailKey"
      [isExample]="isExample"
      (imageDeleted)="onImageDeleted($event)"
    >
    </app-image-delete-button>
  </div>
</div>