.login-container {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background: var(--clr-white);
  transition: all 0.3s ease-in-out;
  animation:
    slideInUp 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slideInUp {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-button {
  background: none;
  border: none;
  color: var(--clr-green);
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: color 0.3s;
}

.back-button:hover {
  color: var(--clr-dark-green);
}

.back-button i {
  margin-right: 0.5rem;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.invalid-feedback {
  color: var(--clr-red);
  font-size: 0.875em;
}

button {
  margin-right: 10px;
}

.btn-outline-secondary {
  width: 100px;
  color: var(--clr-white);
  background-color: var(--clr-green);
  border: 1px solid var(--clr-green);
}

.btn-outline-secondary:hover {
  color: var(--clr-green);
  background-color: var(--clr-white);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-blue);
}

.forgotPasswordLink {
  text-align: right;
  margin-bottom: 10px;
  color: var(--clr-green);
}

.signupLink {
  margin: 1rem 0 0.5rem;
}

.signupLink span {
  margin-left: 10px;
  cursor: pointer;
  color: var(--clr-green);
}

.login-btn {
  width: 100%;
  background-color: var(--clr-green);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
}

.login-btn:active {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-green);
}