<ng-container *ngIf="showHomeSection">
  <section #home>
    <app-custom-button
      (click)="openUserTypeModal()"
      label="Ingresar"
    ></app-custom-button>

    <app-hero></app-hero>
    <app-features></app-features>
    <app-testimonials></app-testimonials>
    <app-call-to-action></app-call-to-action>
    <app-footer></app-footer>

    <app-user-type-modal
      (userTypeSelected)="onUserTypeSelected($event)"
    ></app-user-type-modal>
  </section>
</ng-container>

<ng-container *ngIf="showCandidateSection">
  <section #candidate>
    <app-candidate-login 
      *ngIf="currentCandidateView === 'login'"
      (showRegister)="showRegister()"
      (showForgotPassword)="showForgotPassword()"
      (showHome)="showHomeSection = true; showCandidateSection = false"
    ></app-candidate-login>
    
    <app-candidate-register 
      *ngIf="currentCandidateView === 'register'"
      (showLogin)="showLogin()"
    ></app-candidate-register>
    
    <app-candidate-forgot-password 
      *ngIf="currentCandidateView === 'forgot-password'"
      (showLogin)="showLogin()"
    ></app-candidate-forgot-password>
  </section>
</ng-container>