<ng-container *ngIf="showHomeSection">
  <section #home>
    <button class="custom-button"
      (click)="showAuthLogin()"
      >Ingresar
    </button>

    <app-hero></app-hero>
    <app-features></app-features>
    <app-testimonials></app-testimonials>
    <app-call-to-action
      (registerClicked)="showAuthRegister()"
    ></app-call-to-action>
    <app-footer></app-footer>
  </section>
</ng-container>

<ng-container *ngIf="showAuthSection">
  <section #candidate>
    <app-login
      *ngIf="currentAuthView === 'login'"
      (showRegister)="showRegister()"
      (showForgotPassword)="showForgotPassword()"
      (showHome)="showHomeSection = true; showAuthSection = false"
    ></app-login>

    <app-register
      *ngIf="currentAuthView === 'register'"
      (showLogin)="showLogin()"
    ></app-register>

    <app-forgot-password
      *ngIf="currentAuthView === 'forgot-password'"
      (showLogin)="showLogin()"
    ></app-forgot-password>
  </section>
</ng-container>