.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.toast {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    color: var(--clr-white);
    animation: slideIn 1s ease-out;
    overflow: hidden;
    width: fit-content;
    max-width: 90vw;
    word-break: break-word;
}

.toast::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    animation: progress var(--duration) linear forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.toast.success {
    background: var(--clr-green);
}

.toast.error {
    background: var(--clr-red);
}

.toast.info {
    background: var(--clr-blue);
}

.toast.warning {
    background: var(--clr-yellow);
    color: var(--text-color);
}

.toast i {
    margin-right: 10px;
    font-size: 1.2rem;
}