<!-- image-grid.component.html -->
<div class="top-row" *ngIf="!readOnly">
    <app-image-info-bar [userImages]="userImages"></app-image-info-bar>
    <app-image-upload-button [userEmailKey]="userEmailKey" (uploadComplete)="handleUploadComplete($event)">
    </app-image-upload-button>
</div>

<div class="gallery-grid">
    <!-- Mostrar imágenes si existen -->
    <app-image-item-container *ngFor="let image of userImages" [imageUrl]="image" [currentUser]="currentUser"
        [userEmailKey]="userEmailKey" [isOwner]="!readOnly"
        (imageDeleted)="onImageDeleted($event)"></app-image-item-container>

    <!-- Mostrar mensaje cuando no hay imágenes -->
    <app-image-empty-gallery-message *ngIf="userImages.length === 0"></app-image-empty-gallery-message>
</div>