/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  text-align: left;

  label {
    display: block;
    margin: 0.5em 0 0 1em;
    font-weight: 500;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }

  /* Mensajes de error */
  .text-danger {
    color: var(--clr-red);
    font-size: 0.875em;
    margin-top: 5px;
    margin-left: 1em;
  }
}

header {
  background: linear-gradient(135deg, var(--clr-blue-dark) 0%, var(--clr-purple-dark) 100%);
}

.btn {
  z-index: 1;
}

input#phone {
  letter-spacing: 0.1em;
}

input[type="email"] {
  text-transform: lowercase;
}

.invalid-field {
  border: 1px solid var(--clr-red) !important;
}


/* Inhabilita el boton de "Agregar" */
:host ::ng-deep app-cv-edit-button-row .add-btn {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
}

:host ::ng-deep app-cv-edit-button-row .add-btn i {
  color: var(--clr-gray) !important;
}