.top-row {
    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
    min-height: 52px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
}

/* Estilos para el botón de subida en modo ejemplo */
app-image-upload-button {
    display: block;
}

/* Asegurar que el botón de subida se alinee a la derecha */
.top-row {
    justify-content: space-between;
}