<div class="edit-profile-container">
  <header class="display-flex-space-between">
    <h3>
      <i class="fas fa-star"></i>
      <span>Habilidades</span>
    </h3>
    <app-cv-edit-button-row
      [isEditing]="editableFields['skills']"
      [hasChanges]="formHasChanges"
      (onCancel)="onCancel()"
      (onEditSave)="toggleEdit('skills')"
      (onAdd)="addSkill()"
    >
    </app-cv-edit-button-row>
  </header>

  <body>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div formArrayName="skills">
          <div
            *ngFor="let skill of skillsArray.controls; let i = index"
            [formGroupName]="i"
            class="skill-group"
            (mouseenter)="showDeleteButton(i)"
            (mouseleave)="hideDeleteButton(i)"
            (click)="showDeleteButton(i)"
          >
            <div>
              <div class="form-group">
                <label for="name">Habilidad:</label>
                <textarea
                  type="text"
                  id="name"
                  formControlName="name"
                  class="form-control"
                  [readonly]="!editableFields['skills']"
                ></textarea>
              </div>
            </div>

            <app-delete-button-b
              *ngIf="activeDeleteButton === i"
              (deleteClick)="confirmDeleteSkill(i); $event.stopPropagation()"
              class="skill-delete-button"
            >
            </app-delete-button-b>

            <div class="line"></div>
          </div>
        </div>
      </div>
    </form>
  </body>
</div>

<app-skills-info></app-skills-info>
