@import url('./assets/css/custom-button.css');
@import url('./assets/css/edit-profile-container.css');

:root {
    --clr-white: #f5f5f5;
    --bg-lighter: #e6e6e6;
    --bg-light: #ccc;
    --bg-dark: #a3a3a3;

    --text-color-light: #666;
    --text-color: #333;
    --text-color-dark: #1e1e1e;
    --text-color-darker: #0a0a0a;

    --clr-blue-light: #93c5fd;
    --clr-blue: #3b82f6;
    --clr-blue-dark: #2c5e91;
    --bg-blue: rgba(59, 130, 246, 0.08);

    --clr-green-light: #6ee7b7;
    --clr-green: #10b981;
    --clr-green-dark: #047857;
    --bg-green: rgba(16, 185, 129, 0.08);

    --clr-purple-light: #c4b5fd;
    --clr-purple: #8b5cf6;
    --clr-purple-dark: #5b21b6;
    --bg-purple: rgba(139, 92, 246, 0.08);


    --clr-red-light: #fca5a5;
    --clr-red: #ef4444;
    --clr-red-dark: #b91c1c;
    --bg-red: rgba(239, 68, 68, 0.08);

    --clr-yellow-light: #ffecb3;
    --clr-yellow: #ffc107;
    --clr-yellow-dark: #ffa000;
    --bg-yellow: rgba(234, 179, 8, 0.08);

    --clr-orange-light: #ffccbc;
    --clr-orange: #ff9800;
    --clr-orange-dark: #ff6d00;
    --bg-orange: rgba(255, 152, 0, 0.08);

    /* Colores corporativos */
    --primary: #1a73e8;
    --secondary: #ff6d00;
    --dark: #202124;
    --light: #f5f7fa;
    --success: #34a853;
    --danger: #ea4335;
}

body,
footer {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
}

/* Estilo para centrar los elementos en un contenedor */
.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-red {
    border: red 1px solid;
}

.text-center {
    text-align: center;
}

.card-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.h100 {
    height: 100vh;
}