/* Contenedor principal */
.profile-container {
  text-align: left;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  color: white;
  font-weight: 500;
  background-color: var(--clr-blue-dark);
}

.item {
  margin-right: 1rem;
  padding: 0.5rem 0 0;
}

.top-body {
  display: flex;
  justify-content: space-between;

}

span {
  font-weight: 600;
}