<div class="profile-container">
  <div class="form-group" [formGroup]="profileForm">
    <label class="bar">Educación:</label>
    @if (educationArray.length > 0) {
    <ul class="education-list">
      @for (edu of educationArray.controls; track $index) {
      <li>
        <section class="top-body">
          <div>
            <span>{{ edu.get('degree')?.value }}</span>
          </div>
          <div>
            <span>{{ edu.get("year")?.value }}</span>
          </div>
        </section>
        <div>
          {{ edu.get('institution')?.value }} <br>
        </div>
        @if (!$last) {
        <div class="divider"></div>
        }
      </li>
      }
    </ul>
    } @else {
    <p class="no-education">No se encontraron registros educativos</p>
    }
  </div>
</div>