/* Contenedor principal */
.cv-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  gap: 8px;
  border-radius: 12px;
}

/* Estilo moderno minimalista para los botones */
.cv-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--clr-purple-dark);
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--clr-purple-light);
  border-radius: 8px;
  background: var(--bg-purple);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Efecto hover moderno */
.cv-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Efecto al hacer click */
.cv-button:active {
  transform: translateY(-3px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.02);
}

/* Estilo para el bot칩n activo */
.cv-button.active {
  background: var(--clr-purple-dark);
  color: white;
  border-color: var(--clr-purple-dark);
}

/* Opcional: ajusta el hover para el estado activo */
.cv-button.active:hover {
  background: var(--clr-purple-dark);
  transform: none; /* Opcional: quita la transformaci칩n en hover para el activo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cv-button:not(.active) {
  opacity: 0.7;
  background: var(--bg-purple);
  /* Otros estilos que prefieras */
}

.cv-button:disabled,
.cv-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  background: white !important;
  color: white !important;
  border-color: white !important;
  transform: none !important;
  box-shadow: none !important;
}

/* Eliminar cualquier indicaci칩n de activo cuando est치 deshabilitado */
.cv-button.active.disabled,
.cv-button.active:disabled {
  background: var(--bg-purple) !important;
  color: var(--clr-purple-dark) !important;
  border-color: var(--clr-purple-light) !important;
}