<div class="profile-container">
  <div class="form-group" [formGroup]="profileForm">
    <label class="bar">Experiencia Profesional:</label>
    @if (experienceArray.length > 0) {
    <ul class="experience-list">
      @for (exp of experienceArray.controls; track $index) {
      <li>
        <div class="item">
          <section class="top-body">
            <div>
              <span>{{ exp.get("role")?.value }}</span>
            </div>
            <div>
              <span>{{ exp.get("year")?.value }}</span>
            </div>
          </section>
          <div>
            <span style="padding-right: 0.25rem;">Empresa:</span>{{ exp.get("company")?.value }} <br>
              {{ exp.get("description")?.value }}
          </div>
        </div>
      </li>
      }
    </ul>
    } @else {
    <p class="no-experience">No se encontraron experiencias laborales</p>
    }
  </div>
</div>