/* Contenedor principal */
.profile-container {
  text-align: left;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  color: white;
  font-weight: 500;
  background-color: var(--clr-blue-dark);
}

/* Grupos de formulario */
.skill-category {
  padding: 0 3rem;
}