.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.form-group {
  margin-bottom: 20px;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
}

button {
  margin-right: 10px;
}

.btn-outline-secondary {
  width: 100px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.forgotPasswordLink {
  text-align: right;
  margin-bottom: 10px;
}

.signupLink {
  margin-top: 10px;
}

.login-btn {
  width: 100%;
  background-color: #78ab92;
  color: #f1f6f3;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-btn:hover {
  background-color: #f1f6f3;
  border: #78ab92 1px solid;
  color: #78ab92;
}

.login-btn:active {
  background-color: #f1f6f3;
  transform: scale(0.98);
  border: #78ab92 1px solid;
}

/* Estilos para mensajes de éxito y error */
.success-message {
  color: green;
  background-color: #e6ffe6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}