<div class="profile-container">
    <div class="form-group" [formGroup]="profileForm">
      <label for="fullName">Nombre Completo:</label>
      <p id="fullName">{{ profileForm.get("fullName")?.value || "No especificado" }}</p>

      <label for="profesion">Profesión:</label>
      <p id="profesion">{{ profileForm.get("profesion")?.value || "No especificado" }}</p>

      <label for="phone">Teléfono/Celular:</label>
      <p id="phone">{{ profileForm.get("phone")?.value || "No especificado" }}</p>

      <label for="editableEmail">Corre Electrónico:</label>
      <p id="editableEmail">{{ profileForm.get("editableEmail")?.value || "No especificado" }}</p>


      <label for="direction">Dirección:</label>
      <p id="direction">{{ profileForm.get("direction")?.value || "No especificado" }}</p>
    </div>
</div>

