<app-sidebar></app-sidebar>
<div class="profile-container">
  <div class="profile-header">
    <h1>Mi Perfil</h1>
    <a routerLink="/principal">
      <app-custom-button label="principal" style="margin-top: 50px;"></app-custom-button>
    </a>
    <a routerLink="/edit-profile">
      <app-custom-button label="Editar"></app-custom-button>
    </a>
  </div>

  <form>
    <app-profile-picture *ngIf="currentUser" [currentUser]="currentUser"></app-profile-picture>
    <app-personal-data *ngIf="currentUser" [currentUser]="currentUser"></app-personal-data>
    <app-experience *ngIf="currentUser" [currentUser]="currentUser"></app-experience>
    <app-about-me *ngIf="currentUser" [currentUser]="currentUser"></app-about-me>
    <app-academic-formation *ngIf="currentUser" [currentUser]="currentUser"></app-academic-formation>
    <app-languages *ngIf="currentUser" [currentUser]="currentUser"></app-languages>
    <app-skills *ngIf="currentUser" [currentUser]="currentUser"></app-skills>
  </form>
</div>