.profile-container {
  max-width: 600px;
  margin: auto;
  margin-top: 4.5em;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  text-align: center;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra todo horizontalmente */
  margin-bottom: 20px;
}

.profile-header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  flex: 1;
}

app-custom-button {
  position: fixed;
  top: 25px;
  right: 25px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 0.75em;
  font-weight: 500;
}

.form-control-static {
  padding: 0 25px;
  font-size: 1em;
  font-style: italic;
  color: #333;
  background-color: #f9f9f9;
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 20px;
}

.display-flex-center label {
  flex: 1;
  max-width: 25%;
  text-align: left;
}

.display-flex-center .profile-picture-preview {
  flex: 3;
  max-width: 75%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.year {
  flex: 0 0 25%;
  text-align: left;
}

.role {
  flex: 1;
  text-align: left;
}

.description {
  margin-top: -20px;
}

.non-editable-text {
  white-space: pre-wrap;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.line {
  border: #999 1px solid;
  margin: 20px 100px;
}

.experience-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.experience {
  display: flex; /* Usa flexbox */
  gap: 1em; /* Agrega un espacio de 1em entre los elementos */
}

.year {
  flex: 1; /* 1 parte de 3 */
}

.company {
  flex: 2; /* 2 partes de 3 */
}

.year, .company {
  display: flex;
  flex-direction: column; /* Asegura que el contenido dentro esté alineado verticalmente */
}

label {
  font-weight: bold; /* Opcional: resalta las etiquetas */
}
