.card-header {
    background: linear-gradient(135deg, #1d4ed8 0%, #1e3a8a 100%);
    color: var(--clr-white);
    text-align: center;
}

h2 {
    color: var(--clr-primary);
    padding: 10px;
}

.card-body {
    text-align: left;

    label {
        font-weight: 500;
    }

    input {
        font-size: 16px;
    }

    label,
    .invalid-feedback {
        padding-left: 14px;
    }
}