.container {
    padding-bottom: 4rem;
}

.card-header {
    background: linear-gradient(135deg, #1d4ed8 0%, #1e3a8a 100%);
    color: var(--clr-white);
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.card-body {
    text-align: left;
    margin-top: 20px;

    label {
        font-weight: 500;
    }

    input {
        font-size: 16px;
    }

    label,
    .invalid-feedback {
        padding-left: 14px;
    }
}

i {
    margin-left: 25px;
    color: var(--text-color-light);
}

label {
    color: var(--text-color-light);
}

input,
textarea,
select,
.input-group-text {
    border: 1px solid var(--text-color-light);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.row {
    gap: 30px 0;
}

.btn-row {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.btn-group {
    display: flex;
    justify-content: center;
    width: 800px;
    padding: 10px;
    gap: 15px;
    background: var(--clr-white);
    border-top: 1px solid #999;
    border-radius: 0;
}

/* Efecto hover para botones */
.btn {
    max-width: max-content;
    transition: transform 0.3s ease-in-out;
}

.btn:not(:disabled):not(.disabled):hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease-in-out;
}