<!-- cv-ats.component.html -->
<app-ats-download-pdf containerId="pdf-content"></app-ats-download-pdf>
<div class="responsive-wrapper">
  <div class="ats-container" id="pdf-content">
    <div class="section">
      <app-ats-personal-data [currentUser]="currentUser"></app-ats-personal-data>
    </div>

    <div class="section">
      <app-ats-about-me [currentUser]="currentUser"></app-ats-about-me>
    </div>

    <div class="section">
      <app-ats-skills [currentUser]="currentUser"></app-ats-skills>
    </div>

    <div class="section">
      <app-ats-experience [currentUser]="currentUser"></app-ats-experience>
    </div>

    <div class="section">
      <app-ats-education [currentUser]="currentUser"></app-ats-education>
    </div>
  </div>
</div>